.lb_black
{
	display: block;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 1001;
	-moz-opacity: 0.75;
	opacity:.75;
	filter: alpha(opacity=75);
}
.lb_content {
	display: none;
	position: absolute;
	width: 80%;
	height: 80%;
	background-color: white;
	z-index:1002;
	overflow: visible;
	top: 10%;
}

.lb_content_frame
{
	width: 100%;
	height: 100%;
	border: 0;
}

.lb_close
{
	position: absolute;
	top: -34px;
	right: 0px;
	z-index: 1003;
	opacity: 0.5;
	color: white;
	font-family: Arial, Arial, sans-serif;
	font-size: 32;
	text-decoration: none;
}

.lb_close:hover
{
	opacity: 1;
}
